body {
    background-color: #eaf4fc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

.header {
    margin-bottom: 20px;
}

.sidebar {
	width: 200px;
    background-color: #f1faff;
    padding: 20px;
    height: calc(100vh - 120px); /* Adjusted to account for header and footer */
    position: fixed;
}

.sidebar a {
    color: #007bff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar a:hover {
    background-color: #e0f0ff;
    border-radius: 5px;
    padding-left: 10px;
}

.main-content {
	min-height: 720px;
    padding: 20px;
    margin-left: 220px; /* Adjusted for sidebar width */
    flex: 1;
}

.footer {
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
    z-index: 1000; /* Ensure the footer is above the sidebar */
    position: relative;
}
