<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔에 로깅 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-55(%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %class{36}.%method:%line %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일에 로깅 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 매일 새로운 로그 파일 생성 -->
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 30일간의 로그 파일 보관 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-55(%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %class{36}.%method:%line %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
