<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 콘솔에 로깅 -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyMMdd HH:mm:ss} %-5level [%thread] %logger{25} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 파일에 로깅 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/app.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 매일 새로운 로그 파일 생성 -->
			<fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 30일간의 로그 파일 보관 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyMMdd HH:mm:ss} %-5level [%thread] %logger{25} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 특정 클래스에 대한 파일 로거 설정 -->
	<appender name="BATCHLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/batch.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- 매일 새로운 로그 파일 생성 -->
			<fileNamePattern>logs/batch.%d{yyyy-MM-dd}.log</fileNamePattern> <!-- 30일간의 로그 파일 보관 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyMMdd HH:mm:ss} %-5level %logger{25} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/error.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- 매일 새로운 로그 파일 생성 -->
			<fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern> <!-- 30일간의 로그 파일 보관 -->
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{25} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 루트 로거 설정 -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="com.dsqd.amc.linkedmo.batch" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="BATCHLOG" />
	</logger>
	<logger name="org.apache.ibatis" level="debug" additivity="false"><appender-ref ref="ERROR" /><appender-ref ref="STDOUT" /></logger>
	<logger name="org.quartz" level="error" additivity="false"><appender-ref ref="ERROR" /></logger>
	<logger name="org.eclipse.jetty" level="error" additivity="false"><appender-ref ref="ERROR" /></logger>
	<logger name="ch.qos.logback" level="error" additivity="false"><appender-ref ref="ERROR" /></logger>
	<logger name="spark" level="error" additivity="false"><appender-ref ref="ERROR" /></logger>
</configuration>

