<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsqd.amc.linkedmo.mapper.DataMapper">

    <resultMap id="DataResultMap" type="com.dsqd.amc.linkedmo.model.Data">
        <id column="id" property="id" />
        <result column="string_value" property="stringValue" />
        <result column="integer_value" property="integerValue" />
        <result column="double_value" property="doubleValue" />
        <result column="date_value" property="dateValue" />
        <result column="time_value" property="timeValue" />
    </resultMap>

    <select id="getDataById" resultMap="DataResultMap">
        SELECT * FROM data WHERE id=#{id}
    </select>

    <insert id="insertData">
        INSERT INTO data (string_value, integer_value, double_value, date_value, time_value)
        VALUES (#{stringValue}, #{integerValue}, #{doubleValue}, #{dateValue}, #{timeValue})
    </insert>

    <update id="updateData">
        UPDATE data
        SET string_value=#{stringValue},
            integer_value=#{integerValue},
            double_value=#{doubleValue},
            date_value=#{dateValue},
            time_value=#{timeValue}
        WHERE id=#{id}
    </update>

    <delete id="deleteData">
        DELETE FROM data WHERE id=#{id}
    </delete>
</mapper>
