<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsqd.amc.linkedmo.mapper.MobiliansMapper">

    <resultMap id="ResultMap" type="com.dsqd.amc.linkedmo.model.Mobilians">
        <id column="mobiliansphone_id" property="mobiliansphoneId" />
        <result column="resultcd" property="resultcd" />
        <result column="resultmsg" property="resultmsg" />
        <result column="autobillkey" property="autobillkey" />
        <result column="commid" property="commid" />
        <result column="mobilid" property="mobilid" />
        <result column="mrchid" property="mrchid" />
        <result column="mstr" property="mstr" />
        <result column="no" property="no" />
        <result column="prdtnm" property="prdtnm" />
        <result column="signdate" property="signdate" />
        <result column="svcid" property="svcid" />
        <result column="tradeid" property="tradeid" />
        <result column="userid" property="userid" />
        <result column="userkey" property="userkey" />
        <result column="cash_gb" property="cashGb" />
        <result column="payeremail" property="payeremail" />
        <result column="autoyn" property="autoyn" />
        <result column="ezkey" property="ezkey" />
        <result column="msg" property="msg" />
        <result column="result" property="result" />
        <result column="autobill_date" property="autobillDate" />
    </resultMap>

    <insert id="insertPhone">
        INSERT INTO mobiliansphone (resultcd,resultmsg,autobillkey,commid,mobilid,mrchid,mstr,`no`,prdtnm,prdtprice,signdate,svcid,tradeid,userid,userkey,cash_gb,payeremail,autoyn,ezkey,msg,result,autobill_date)
        VALUES (#{resultcd},#{resultmsg},#{autobillkey},#{commid},#{mobilid},#{mrchid},#{mstr},#{no},#{prdtnm},#{prdtprice},#{signdate},#{svcid},#{tradeid},#{userid},#{userkey},#{cashGb},#{payeremail},#{autoyn},#{ezkey},#{msg},#{result},#{autobillDate})
    </insert>

    <select id="getMobiliansPhoneUser" resultMap="ResultMap">
        SELECT * FROM mobiliansphone WHERE `no` = #{mobileno} AND autoyn = 'Y' AND result = 'SUCCESS'
    </select>

    <update id="updateMobiliansPhoneUser">
        UPDATE mobiliansphone
        SET
            autoyn = 'N'
        WHERE
            mobiliansphone_id = #{mobiliansphoneId}
    </update>

    <select id="getAutoBillUserList" resultMap="ResultMap">
        SELECT * FROM mobiliansphone WHERE autoyn = 'Y' AND result = "SUCCESS" AND autobill_date = #{autobillDate}
    </select>

    <update id="updateAutoBillDate">
        UPDATE mobiliansphone
        SET
            autobill_date = #{autobillDate}
        WHERE
            mobiliansphone_id = #{mobiliansphoneId}
    </update>

    <select id="getTradeidList" resultMap="ResultMap">
        SELECT * FROM mobiliansphone WHERE tradeid = #{tradeid}
    </select>

    <insert id="insertCancel">
        INSERT INTO mobilianscancel ( mrchid, svcid, tradeid, prdtprice, mobilid, regdate, `result`)
        VALUES(#{mrchid}, #{svcid}, #{tradeid}, #{prdtprice}, #{mobilid}, current_timestamp(), #{result})
    </insert>
</mapper>
