<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsqd.amc.linkedmo.mapper.SubscribeMapper">

    <resultMap id="ResultMap" type="com.dsqd.amc.linkedmo.model.Subscribe">
        <id column="id" property="id" />
        <result column="spcode" property="spcode" />
        <result column="mobileno" property="mobileno" />
        <result column="agree1" property="agree1" />
        <result column="agree2" property="agree2" />
        <result column="agree3" property="agree3" />
        <result column="created_at" property="createDate" />
        <result column="bFP" property="bFP" />
        <result column="status" property="status" />
        <result column="offercode" property="offercode" />
        <result column="canceled_at" property="cancelDate" />
        <result column="cancelcode" property="cncode" />
        <result column="spuserid" property="spuserid" />

    </resultMap>

    <select id="getSubscribeAll" resultMap="ResultMap">
        SELECT * FROM subscribe
    </select>
    
    <select id="getSubscribeAllActive" resultMap="ResultMap">
        SELECT * FROM subscribe  and status='A'
    </select>
    
   <select id="getCancelList" resultMap="ResultMap">
        SELECT * FROM subscribe where status='D' or status='P'
    </select>
    
    <select id="getSubscribeById" resultMap="ResultMap">
        SELECT * FROM subscribe WHERE id=#{id}
    </select>

    <select id="getSubscribeByMobileno" resultMap="ResultMap">
        SELECT * FROM subscribe WHERE mobileno=#{mobileno} and status='A'
    </select>
    
    <select id="getTodaySubscribeByMobileno" resultMap="ResultMap">
        SELECT * FROM subscribe WHERE mobileno=#{mobileno} and DATE(created_at)=CURDATE()
    </select>

    <insert id="insertSubscribe">
        INSERT INTO subscribe (spcode, mobileno, agree1, agree2, agree3, offercode, spuserid)
        VALUES (#{spcode}, #{mobileno}, #{agree1}, #{agree2}, #{agree3}, #{offercode}, #{spuserid})
    </insert>

    <update id="updateSubscribe">
        UPDATE subscribe
        SET spcode=#{spcode},
            mobileno=#{mobileno},
            agree1=#{agree1},
            agree2=#{agree2},
            agree3=#{agree3},
            updated_at=NOW()
        WHERE id=#{id}
    </update>

	<!-- 본인이 직접 해지요청  -->
    <delete id="deleteSubscribe">
        UPDATE subscribe
        SET status='D',
       		canceled_at=NOW(), 
        	cancelcode='A0',
        	cancelreason='본인이 직접 홈페이지에서 해지'
        WHERE id=#{id}
    </delete>
    
    <!-- 배치작업에 의해 자동 삭제  -->
    <delete id="deleteSubscribeT0">
        UPDATE subscribe
        SET status='D',
       		canceled_at=NOW(), 
        	cancelcode='T0',
        	cancelreason='배치작업으로 삭제'
        WHERE id=#{id}
    </delete>
</mapper>
